<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="bank Testng">

	<!-- <groups> <run> <include name="functional" /> </run> </groups> -->
	<listeners>
		<listener class-name="Listeners.CustomerListeners" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
	</listeners>
	<test name="BnakManagerLogin_Test">
		<classes>

			<class name="TestCases_base.BankManagerLoginTest" />
		</classes>

	</test>
	<test name="addcumtomer_Test">
		<classes>

			<class name="TestCases_base.Addcumtomer" />
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
